@font-face {
  font-family: "iconfont"; /* Project id 3731388 */
  src: url('iconfont.woff2?t=1666785039322') format('woff2'),
       url('iconfont.woff?t=1666785039322') format('woff'),
       url('iconfont.ttf?t=1666785039322') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 46px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xiangzuo:before {
  content: "\e600";
}

.icon-xiangyou:before {
  content: "\e601";
}

